.logo {
  display: flex;
  align-items: center;
}
.logoText {
  font-family: var(--font-poppins), sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.logoTextUp {
  color: var(--logo-secondary);
  font-size: 40px;
}
